<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#recipe-{{ recipe.slug | default: recipe.title | slugify }}">
            {% if recipe.images %}
                <img class="img-fluid" src="{{ recipe.images[0].path | relative_url }}" alt="{{ recipe.images[0].alt }}" width="600" height="450" />
            {% endif %}
            <div class="portfolio-caption">
                <div class="portfolio-caption-heading">{{ recipe.title }}</div>
                {% if recipe.subtitle %}
                    <div class="portfolio-caption-subheading">{{ recipe.subtitle }}</div>
                {% endif %}
            </div>
        </a>
    </div>
</div>
