<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#recipe-{{ recipe.slug | default: recipe.title | slugify }}">
            {% if recipe.images %}
                <img class="img-fluid" src="{{ site.url }}{{ recipe.images[0].path }}" alt="{{ recipe.images[0].alt }}" />
            {% endif %}
        </a>
        <div class="portfolio-caption" style="background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 5px;">
            <div class="portfolio-caption-heading" style="color: yellow;">{{ recipe.title }}</div>
            {% if recipe.subtitle %}
                <div class="portfolio-caption-subheading text-muted">{{ recipe.subtitle }}</div>
            {% endif %}
        </div>
    </div>
</div>
