       <!-- Modal Popup - {{ modal.category }} item 1 -->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">{{ recipe.title }}</h2>
                                    <p class="item-intro text-muted">{{ recipe.sub }}</p>
                                    <img class="img-fluid d-block mx-auto" src="assets/img/portfolio/" alt="..." />
                                    <h3 style="text-align:left">Ingredients</h3>
                                    <ul style="text-align:left">
                                        <li>Cooking spray, for pan</li>
                                        <li>1 (8-oz.) tube crescent dough</li>
                                        <li>1 (8-oz.) wheel of brie</li>
                                        <li>1/2 cup whole berry cranberry sauce</li>
                                        <li>1/4 cup chopped pecans</li>
                                        <li>6 sprigs of rosemary, cut into 1&quot; pieces.</li>
                                        </ul>
                                    <h3 style="text-align:left">Steps</h3>
                                    <ol style="text-align:left">
                                        <li>Preheat oven to 375°</li>
                                        <li>Grease a mini muffin tin with cooking spray. Roll out crescent dough, and pinch together seams. Cut into 24 squares. Place squares into muffin tin slots.</li>
                                        <li>Cut brie into small pieces and place inside the crescent dough. Top with a spoonful of cranberry sauce, chopped pecans, and one little sprig of rosemary.</li>
                                        <li>Bake until the crescent pastry is golden, about 15 minutes.</li>
                                        </ol>
                                    <h4 style="text-align:left">Alternatives</h4>
                                    <ul style="text-align:left">
                                        <li>Crumbled goat cheese + apricot preserves + toasted marcona almonds + thyme</li>
                                        <li>Camembert + cherry preserves + crumbled bacon + black pepper</li>
                                        <li>Gorgonzola + fig chutney + mint + toasted walnuts</li>
                                        </ul>
                                    <h5 style="text-align:left">Credit:</h5>
                                    <p style="text-align:left">
                                        <a href="https://www.delish.com/cooking/recipe-ideas/recipes/a56610/cranberry-brie-bites-recipe/" target="_blank" rel="noopener noreferrer">Delish</a>
                                        </p>
                                    <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        Back
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>